.holder {
    display: flex;
    flex-wrap: wrap ;
    border: 2px solid black;
    border-radius: 25px 25px 0 0;
    }
    
    .item{
        height: 100px;
        flex-grow: 1;
        font-size: 50px;
        text-align: center;
    }
    
    .holder :nth-child(1){
        background-color: rgb(55, 7, 41);
        flex-grow: 2;
        border-radius: 25px 0 0 0;
        flex-basis: calc(100% / 2);
        order: -3;
    }
    
    .holder :nth-child(2){
        background-color: rgb(49, 128, 68);
        order: 0;
    }
    
    .holder :nth-child(3){
        background-color: rgba(95, 106, 61, 0.444);
        order: -1;
    }
    
    .holder :nth-child(4){
        background-color: rgb(91, 0, 0);
        order: 1;
    }
    
    .holder :nth-child(5){
        background-color: rgba(67, 24, 24, 0.553);
        flex-grow: 2;
        border-radius: 0 25px 0 0;
        flex-basis: calc(100% / 2);
        order: -2;
    }